<% if post.body.present? %>
<%= turbo_stream_from post %>

<article id="<%= dom_id(post) %>" class="dialog-thread"
         data-controller="reply-form">
  <header class="dialog-thread__header">
    <div>
      <span class="fw-bold"><%= post.user.name %></span>
      <span class="text-muted">@ <%= post.lesson.title %></span>
    </div>
    <div class="dialog-thread__time">
      <% time_zone = post.user.school ? post.user.school.time_zone : "UTC" %>
      <%= post.created_at.in_time_zone(time_zone) %></div>
  </header>

  <div class="chat-message chat-message--post">
    <div class="chat-bubble">
      <%= simple_format(h(post.body), class: "mb-0") %>
    </div>
  </div>

  <div id="<%= dom_id(post, :comments) %>" class="chat-messages ps-5">
    <%= render partial: "mypage/comments/comment",
               collection: post.comments, as: :comment %>
  </div>

  <div class="<%= post.comments.present? ? 'ps-5 mt-3' : '' %>">
    <div class="form-group" hidden data-reply-form-target="form">
      <%= form_with model: [:mypage, Comment.new] do |f| %>
        <%= f.hidden_field :pid, { value: post.id } %>
        <%= f.hidden_field :return_to, { value: request.fullpath } %>
        <%= f.text_area :body, placeholder: "Add your reply", 
                    class: "form-control", rows: 4 %>
        <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="btn btn-info" data-reply-form-target="button"
         data-action="click->reply-form#open">
        reply
    </div>
  </div>
</article>
<% end %>
