<% if post.body != "" %>
<div>
  <div><span class="fw-bold"><%= post.user.name %></span> : 
     <%= local_time(post.created_at) %></div>
  <div><%= simple_format(h(post.body)) %></div>
    <%= render @comments[post] %>

  <!-- the case needs to put the [reply] button -->
  <% if (current_user.is_teacher? and post.need_response) or
        (current_user.is_student? and !post.need_response) %>
  <% if @comments[post]&.length > 0 %>
    <div class="ps-5">
  <% else %>
    <div>
  <% end %>
      <div class="form-group" <%= "id=form#{post.id}" %>
           style="display: none;">
        <%= form_with model: [ :mypage, Comment.new ] do |f| %>
          <%= f.hidden_field :pid, { value: post.id } %>
          <%= f.text_area :body, placeholder: "Add your reply", 
                      class: "form-control", rows: 4 %>
          <%= f.submit "submit", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
      <script type="text/javascript">
        function open_form(o1, o2) { 
                 o1.style.display = "block"; 
                 o2.style.display = "none"; 
               };
      </script>
    </div>
    <% if @comments[post]&.length > 0 %>
      <div class="ps-5">
    <% else %>
      <div>
    <% end %>
        <div class="btn btn-info mb-3" <% formid = "form" + post.id.to_s %>
          onclick=<%= "open_form(document.getElementById(\"#{formid}\"),this)" %>>
          reply
        </div>
      </div>
  <% end %>

</div>
<% end %>
