<%= form_with model: [:td, todo] do |f| %>
  <table class="table table-sm table-striped">
    <tr>
      <th class="text-start" width="1%">Item</th>
      <th>Field</th>
    </tr>
    <tr>
      <td><%= f.label "order:" %></td>
      <td><%= f.number_field :position, step: 1, min: 1,
                style: "width:10%",
                class: "form-control" %></td>
    </tr>
      <td><%= f.label "title:" %></td>
      <td><%= f.text_field :title, 
              placeholder: "add a title...", style: "width:60%",
                class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label "memo:" %></td>
      <td><%= f.text_area :memo, 
              placeholder: "add a memo...", style: "width:100%",
                class: "form-control" %></td>
    </tr>
  </table>
  <%= f.submit label, class: "btn btn-primary" %>
<% end %>
