<%= render "td/nav", title: "Check List" %>
<h1>Check (ToDo) List</h1>
<p>
<% if @todos&.length == 0 %>
  <% next_pos = 1 %>
 No todo items.
  <%= button_to "Load Default",
        td_todos_load_default_path,
        class: "btn btn-primary",
        method: :post %>

<% else %>
  <table class="table table-sm table-striped">
    <%= render "tableheader" %>
    <%= render @todos %>
  </table>
  <% next_pos = @todos.last.position + 1 %>
<% end %>
</p>

<h1>Create a New Todo Item</h1>
<%= render "form", todo: Todo.new(position: next_pos), label: "create" %>
