<%= render "nav" %>
<h1>Project Dashboard</h1>
<h2>Project information</h2>
<%= render "admin/projects/form",
      model: [:admin, @project], label: "Update" %>

<h2>School list</h2>
<p>
  <% if @project.schools&.length == 0 %>
    Not yet registered
  <% else %>
    <table class="table table-sm table-striped mb-3">
      <tr><th class="text-start">Schools</th>
          <th class="text-start" width="5%">Code</th>
          <th class="text-center" width="1%">Paid</th>
          <th class="text-end" width="1%"></th>
          <th class="text-end" width="1%"></th></tr>
       <% @project.schools.order(name: :asc).each { |s| %>
       <tr>
         <td class="text-start"><%= s.name %></td>
         <td class="text-start"><%= s.code %></td>
         <td class="text-center"><%= "✔︎" if s.paid %></td>
         <td><%= link_to "edit", edit_admin_school_path(s),
                   class: "btn btn-sm btn-success" %></td>
         <td><%= link_to "delete", admin_school_path(s),
                   class: "btn btn-sm btn-secondary",
                   data: { turbo_confirm: "Are you sure?",
                           turbo_method: :delete } %></td>
       </tr>
       <% } %>
    </table>
  <% end %>
</p>

<h2>Register a new school</h2>
<%= render "admin/schools/form",
      model: [:admin, School.new], label: "Register", 
      pid: @project.id %>
