<p>
  <%= form_with model: [:admin, model] do |f| %>
    <table>
       <tr><td class="text-start" width="10%" ><%= f.label "name" %>&nbsp;</td>
           <td>
               <%= f.text_field :name, class: "form-control" %></td></tr>
       <tr><td><%= f.label "address" %>&nbsp;</td>
           <td><%= f.text_field :address, class: "form-control" %></td></tr>
       <tr><td><%= f.label "memo" %>&nbsp;</td>
           <td><%= f.text_field :memo, class: "form-control" %></td></tr>
       <tr><td><%= f.label "paid" %>&nbsp;</td>
           <td><%= f.check_box :paid %>&nbsp; Participation fee received</td></tr>
    </table>
    <%= f.hidden_field :pid, { value: pid } %>
    <%= f.submit label, class: "btn btn-primary mt-3" %>
  <% end %>
</p>
