<tr>
  <td><%= meeting.name %>
    <ul>
      <li>start date: <%= local_time(meeting.start_date) %></li>
      <li>memo: <%= meeting.memo %></li>
    </li>
  </td>
  <td><%= link_to "edit", edit_td_meeting_path(meeting),
                  class: "btn btn-success btn-sm" %>
  </td>
  <td><%= link_to "delete", td_meeting_path(meeting), 
                  class: "btn btn-secondary btn-sm",
                  data: { turbo_confirm: "Are you sure?",
                          turbo_method: :delete }  %>
  </td>
</tr>
