<%= rubric.item %>
<div>
  <table>
    <% score = @scores.find_by(rubric: rubric) %>
    <tr>
      <%= fields_for "scores[]", score do |f| %>
        <% 5.times.to_a.map{ |x| x+1 }.each do |i| %>
          <td align="center">
            <%= f.radio_button :level, i, checked: (score.level == i) %>
            <%= "Level. #{i}" %> &nbsp;
          </td>
        <% end %>
        <%= f.hidden_field :sid, { value: score.id } %>
      <% end %>
    </tr>
  </table>
</div>
